body {
  font-family: system-ui, sans-serif;
  background: #f5f7fa;
  margin: 0;
  justify-content: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 680px;
  margin: auto;
  box-shadow: 0 6px 24px rgba(0,0,0,0.06);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: calc(100% - 25px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form {
  padding-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

hr {
  margin: 30px 0;
}

.note {
  background: #f9fafb;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #e5e7eb;
}
